In [3]:
sys.path.append('..')
import pandas as pd
import sys
from gsw.GSWriter import GSWriter

# InteractionDatasetLoader
## Task breakdown
- load data from the dataset

In [5]:
dataset_config = {}
dataset_config["base_dir"] = '/mnt/Data/Research_Dataset/INTERACTION-Dataset-DR-multi-v1_2/'
dataset_config["version"] = '1.2'
dataset_config["recording_map"] = ['DR_DEU_Merging_MT', 'DR_DEU_Roundabout_OF']

In [32]:
class InteractionDataset():
   

    def __init__(self, config, train=True):
        self.config = config
        self.train = train
        
        if self.train:
            self.base_dir = config["base_dir"]
            self.recording_map = config["recording_map"]
            self.csv_dir_list = [self.get_track_directory(recording) for recording in self.recording_map]
            self.osm_dir_list = [self.get_map_directory(recording) for recording in self.recording_map]
            
        else:
            self.base_dir = config["base_dir"]
            self.recording_map = config["recording_map"]
            self.csv_dir_list = [self.get_track_directory(recording) for recording in self.recording_map]
            self.osm_dir_list = [self.get_map_directory(recording) for recording in self.recording_map]
    
    def get_track_directory(self, recording):
        return self.base_dir+'train/'+recording+'_train.csv' if self.train else self.base_dir+'val/'+recording+'_val.csv'
        
    def get_map_directory(self, recording):
        return self.base_dir+'maps/'+recording+'.osm'
            
    def get_recording_df(self, recording):
        assert recording in self.recording_map
        return pd.read_csv(self.get_track_directory(recording))
    
    def get_case_df_of_recording(self, case_id, recording_df):
        case_id_list = recording_df['case_id'].unique()
        assert case_id in case_id_list
        return recording_df.loc[recording_df['case_id'] == case_id]

    def constructGeoScenarioFile(self, )

In [34]:
ID = InteractionDataset(dataset_config, train=False)
# ID.read_interaction_data()
recording_df = ID.get_recording_df('DR_DEU_Merging_MT')
ID.get_case_df_of_recording(10, recording_df)

,case_id,track_id,frame_id,timestamp_ms,agent_type,x,y,vx,vy,psi_rad,length,width
1995,10.0,1,1,100,car,923.317,1005.331,-9.474,0.731,3.065,4.21,1.80
1996,10.0,2,1,100,car,936.991,1004.784,-8.733,0.135,3.126,4.76,1.91
1997,10.0,3,1,100,car,981.268,1006.050,-8.692,0.211,3.117,4.54,1.85
1998,10.0,4,1,100,car,999.188,1005.710,-6.956,0.060,3.133,4.65,1.88
1999,10.0,1,2,200,car,922.370,1005.407,-9.513,0.762,3.062,4.21,1.80
...,...,...,...,...,...,...,...,...,...,...,...,...
2142,10.0,3,39,3900,car,945.481,1004.789,-9.659,-0.116,-3.130,4.54,1.85
2143,10.0,4,39,3900,car,965.886,1005.735,-9.976,-0.774,-3.064,4.65,1.88
2144,10.0,2,40,4000,car,902.970,1007.111,-9.429,0.769,3.060,4.76,1.91
2145,10.0,3,40,4000,car,944.515,1004.782,-9.681,-0.083,-3.133,4.54,1.85
2146,10.0,4,40,4000,car,964.888,1005.654,-10.000,-0.801,-3.062,4.65,1.88

In [16]:
if

['DR_DEU_Merging_MT', 'DR_DEU_Roundabout_OF']

In [8]:
ID.csv_dir_list

['/mnt/Data/Research_Dataset/INTERACTION-Dataset-DR-multi-v1_2/val/DR_DEU_Merging_MT_val.csv',
 '/mnt/Data/Research_Dataset/INTERACTION-Dataset-DR-multi-v1_2/val/DR_DEU_Roundabout_OF_val.csv']

In [9]:
ID.osm_dir_list

['/mnt/Data/Research_Dataset/INTERACTION-Dataset-DR-multi-v1_2/maps/DR_DEU_Merging_MT.osm',
 '/mnt/Data/Research_Dataset/INTERACTION-Dataset-DR-multi-v1_2/maps/DR_DEU_Roundabout_OF.osm']

In [3]:
for i, v in enumerate(dataset_config["recording_map"]):
    df = pd.read_csv()

0 DR_DEU_Merging_MT
1 DR_DEU_Roundabout_OF

In [6]:
pd.read_csv('/mnt/Data/Research_Dataset/INTERACTION-Dataset-DR-multi-v1_2/val/DR_DEU_Merging_MT_val.csv')

,case_id,track_id,frame_id,timestamp_ms,agent_type,x,y,vx,vy,psi_rad,length,width
0,1.0,1,1,100,car,908.414,1006.631,-8.165,0.685,3.058,4.66,1.88
1,1.0,2,1,100,car,923.506,1005.483,-6.397,0.423,3.076,3.83,1.70
2,1.0,3,1,100,car,931.861,1004.774,-5.793,0.332,3.084,4.32,1.77
3,1.0,1,2,200,car,907.598,1006.699,-8.217,0.683,3.059,4.66,1.88
4,1.0,2,2,200,car,922.867,1005.527,-6.399,0.430,3.074,3.83,1.70
...,...,...,...,...,...,...,...,...,...,...,...,...
91605,343.0,3,39,3900,car,924.016,1005.576,-6.450,0.324,3.091,4.15,1.82
91606,343.0,4,39,3900,car,939.835,1004.726,-5.709,0.034,3.136,4.29,1.75
91607,343.0,2,40,4000,car,903.756,1007.267,-6.986,0.626,3.052,4.10,1.77
91608,343.0,3,40,4000,car,923.371,1005.611,-6.502,0.340,3.089,4.15,1.82
91609,343.0,4,40,4000,car,939.264,1004.732,-5.748,0.044,3.134,4.29,1.75